<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/(search:search)"></ion-back-button>
    </ion-buttons>
    <ion-title>Venues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="light">
    <ion-item color="light">
      <ion-thumbnail slot="start"></ion-thumbnail>
      <ion-label>
        <h2>Title</h2>
        <p>123 Address</p>
        <p>Category</p>
      </ion-label>
      <ion-button icon-only fill="clear" slot="end">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="light">
        <ion-thumbnail slot="start"></ion-thumbnail>
        <ion-label>
          <h2>Title</h2>
          <p>123 Address</p>
          <p>Category</p>
        </ion-label>
        <ion-button icon-only fill="clear" slot="end">
          <ion-icon name="more"></ion-icon>
        </ion-button>
      </ion-item>
  </ion-list>
</ion-content>
