<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>28252470541-17fuebc459vh9kfd90tj746qguhkrdlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28252470541-17fuebc459vh9kfd90tj746qguhkrdlb</string>
	<key>API_KEY</key>
	<string>AIzaSyCYMpeqHO7GRh_5lS4plrkBDNH6OBs1NZk</string>
	<key>GCM_SENDER_ID</key>
	<string>28252470541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapdemo.mappapp</string>
	<key>PROJECT_ID</key>
	<string>map-demo-1536849323418</string>
	<key>STORAGE_BUCKET</key>
	<string>map-demo-1536849323418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28252470541:ios:37660bb327d4df05</string>
	<key>DATABASE_URL</key>
	<string>https://map-demo-1536849323418.firebaseio.com</string>
</dict>
</plist>