<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button icon-only>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Contact</ion-title>

    <ion-buttons slot="end">

      <ion-show-when size="md, lg, xl">
        <ion-button icon-only (click)="toSettingsPage()">
          <ion-icon name="settings"></ion-icon>
        </ion-button>

        <ion-button icon-only (click)="toAboutPage()">
          <ion-icon name="help"></ion-icon>
        </ion-button>
      </ion-show-when>
      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-list-header>Follow us on Twitter</ion-list-header>

    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      @ionicframework
    </ion-item>

  </ion-list>
</ion-content>
