<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button icon-only>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Map</ion-title>
    <ion-buttons slot="end">
      <ion-show-when size="md, lg, xl">
        <ion-button icon-only (click)="toSettingsPage()">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
        <ion-button icon-only (click)="toAboutPage()">
            <ion-icon name="information-circle"></ion-icon>
          </ion-button>
      </ion-show-when>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
Map Page
</ion-content>
