<ion-item>
  <ion-icon slot="start" name="search"></ion-icon>
  <ion-input 
    placeholder="search for location" 
    autocorrect="off" 
    autocapitalize="off" 
    spellcheck="off" 
    type="text" 
    id="search"
    #search></ion-input>
</ion-item>
  
<div id="map" #map></div>
<!--<agm-map 
  #map 
  [latitude]="lat" 
  [longitude]="lng" 
  [zoom]="zoom" 
  [usePanning]="true">-->

  <!--  MARKERS TOGGLE ION MENU  -->
  <!--<ion-menu-toggle>
    <agm-marker 
      #marker
      *ngFor="let shop of locations | async" 
      [latitude]="shop.latLng.lat" 
      [longitude]="shop.latLng.lng"
      (mouseOver)="onMouseOver(shop)">    
    </agm-marker>
  </ion-menu-toggle>-->
  <!--  END MARKERS  -->

<!--</agm-map>-->