<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-icon 
      color="light" 
      slot="start" 
      name="search"></ion-icon>
  </ion-buttons>
  
  <ion-label>
    <ion-input 
      placeholder="search for location" 
      autocorrect="off" 
      autocapitalize="off" 
      spellcheck="off" 
      type="text" 
      id="search"
      #search></ion-input>
  </ion-label>
  
  <ion-buttons slot="end">

    <ion-show-when size="md, lg, xl">
      <ion-button size="small" color="light" ion-content slot="end" (click)="toggleRadius()">toggle</ion-button>
    </ion-show-when>
  </ion-buttons>
</ion-toolbar>

<ion-show-when size="md, lg, xl">
    <radius-slider *ngIf="showToggles"></radius-slider>
</ion-show-when>

<div id="map" #map></div>