<ion-tabs 
  #mainTabs 
   color="primary"
  (ionChange)="logTabs($event)"
  (ionNavWillChange)="logCurrentTab($event)">
  
  <ion-tab 
    icon="paper" 
    name="activity" 
    title="activity" 
    href="/tabs/(activity:activity)">
    <ion-router-outlet stack name="activity"></ion-router-outlet>
  </ion-tab>

  <ion-tab 
    icon="map" 
    name="map" 
    title="map" 
    href="/tabs/(map:map)">
    
    <ion-router-outlet stack name="map"></ion-router-outlet>
  </ion-tab>

  <ion-tab 
    icon="search" 
    name="search" 
    title="search" 
    href="/tabs/(search:search)">
    <ion-router-outlet stack name="search"></ion-router-outlet>
  </ion-tab>

  <ion-tab 
    [disabled]="authStatus == false"
    icon="person" 
    name="settings" 
    title="settings"
    href="/tabs/(settings:settings)">
    <ion-router-outlet stack name="settings"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
