<ion-app>
  <ion-split-pane>
    <ion-menu #mainMenu side="start">
      <ion-header>
        <ion-toolbar>
          <ion-hide-when size="lg, xl">
            <ion-title>Menu</ion-title>
          </ion-hide-when>

          <ion-buttons slot="end">
            <ion-menu-toggle>
              <ion-button icon-only>
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list *ngIf="router.url === '/tabs/map' || router.url === '/tabs/(map:map)'">
    
          <ion-hide-when size="lg, xl">
            <radius-slider></radius-slider>
          </ion-hide-when>

          <app-location></app-location>
        </ion-list>
      </ion-content>
      
      <ion-footer>
        <ion-toolbar>
          <ion-title>&copy;</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
   
    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>
</ion-app>
