#register {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

ion-item, item-row, item-col {
    --background: #fff !important;
}

ion-list {
    background-color: #fff !important;
}