<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button icon-only>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-icon
        color="light" 
        slot="start" 
        [name]="viewMode === 'groups' ? 'contacts' : 'locate'"></ion-icon>
    </ion-buttons>

    <ion-title>
      <ion-label>{{ viewMode | titlecase }}</ion-label>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="!user" icon-only routerLink="/auth">
        <ion-icon slot="end" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment [(ngModel)]="viewMode" color="light" (ionChange)="segmentChanged($event)">
          <ion-segment-button #nearby value="nearby">
            <ion-icon name="locate"></ion-icon>
          </ion-segment-button>
          <ion-segment-button #groups value="groups">
            <ion-icon name="contacts"></ion-icon>
          </ion-segment-button>
        </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
